<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading"><font color="#b3b3b3">Contact me via:</font></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name"></li><li><a class="u-email" href="mailto:{{ site.email }}"><font color="#5c5c3d">{{ site.email }}</font></a></li></ul>
	  <li class="social-media-list"><a href="https://github.com/{{ site.github_username }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username"><font color="#666699">{{ site.github_username }}</font></span></a></li></ul>
      </div>

      <div class="footer-col footer-col-2">
        <p><a href="{{ site.baseurl }}/assets/cv201718.pdf" style="color: #5c5c3d">My resume</a></p>
      </div>

      <div class="footer-col footer-col-3">
        <p><a href="{{ site.baseurl }}/mentions-legales" style="color: #5c5c3d">Website Terms of Use</a></p>
      </div>

    </div>

  </div>

</footer>
