<div id="particles-js">
  <div class="header">
      <h5>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description"><h3><font color="white">{{ site.user_title }}</font></h3></span>
      </h5>
      <div class="header-icons">
        {% if site.email %}
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
        {% endif %}
        {% if site.gscholar_username %}
        <a aria-label="My GoogleScholar" target="_blank" href="https://scholar.google.com/citations?user={{ site.gscholar_username }}"><i class="icon faxx fa-gscholar" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.orcid_username %}
        <a aria-label="My ORCID" target="_blank" href="https://orcid.org/{{ site.orcid_username }}"><i class="icon faxx fa-orcid" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.linkedin_username %}
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="icon faxx fa-linkedin" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.researchgate_username %}
        <a aria-label="My ResearchGate" target="_blank" href="https://www.researchgate.net/profile/{{ site.researchgate_username }}"><img src="{{ site.url }}/assets/researchgate.svg" style="color: #ffffff" width="50em" height="auto" colordisplay="inline-block" border-radius="50%"></a>
        {% endif %}
        {% if site.github_username %}
        <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon faxx fa-github" aria-hidden="true"></i></a>
        {% endif %}
	<a aria-label="Website Terms&Conditions" href="/terms-and-conditions"><i class="icon fa fa-termsconditions" aria-hidden="true"></i></a>
	<a aria-label="EasterEgg" target="_blank" href="https://tinyurl.com/3vt3xjhk"><i class="icon faxx fa-easteregg" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
