<div id="particles-js">
  <div class="header">
      <h5>
        <span class="site-title">Website Terms and Conditions</span>
        <span class="site-description"><p><h6>In accordance with the provisions of the law n°2004-575 of June 21, 2004 “Pour la confiance en l’économie numérique”, it is specified to the users of this website the identity of the various stakeholders in the context of its implementation and monitoring.
</p><p>Those information are presented below.</h6></p></span>
      </h5>
  </div>
  <a class="down" href="#mentions-legales" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
