<center>
<p>I am mainly interested in bioinformatics and (semi-supervised, supervised, sequential) machine learning, and how to apply tractable and understandable methods to extract higher-order, causal, information from biological data.</p>
<p>My research journey led me to consider several aspects of drug development and repurposing, and got me acclimated to working in an interdisciplinary environment. Here are three of my proudest works:</p>
</center>

<div class="user">

  <div class="tech">
    <h2><a href="https://hal.science/hal-04625183/document" target="_blank"><font color="#003366">Interpretability in Collaborative Filtering</font></a></h2>
          <img src="/assets/collaborative_filtering.png" width="200" height="100"></img>
    <p>Enforcing an explicit connection between features and classification scores allows us to <b>enhance our understanding of underlying mechanisms</b>, for instance in drug repurposing</p>
  </div>

  <div class="tech">
    <h2><a href="https://link.springer.com/chapter/10.1007/978-3-031-15034-0_5" target="_blank"><font color="#003366">Prioritization of Master Regulators</font></a></h2>
          <img src="/assets/prioritization.png" width="200" height="100"></img>
    <p>I have designed an approach which incorporates regulatory cascades and disease-specific transcriptomic information to detect <b>master regulators</b>, which can be targeted to treat a disease</p>
  </div>

  <div class="tech">
    <h2><a href="https://proceedings.mlr.press/v130/reda21a.html" target="_blank"><font color="#003366">Bandits for Drug Repurposing</font></a></h2>
          <img src="/assets/repurposing.png" width="200" height="100"></img>
    <p>Drug repurposing can be seen as a Top-<i>m</i> identification problem in bandits. One challenge is to <b>exploit side information about the drugs</b> to decrease the number of tests</p>
  </div>

</div>

For more information, feel free to check out my <a href="/research#research-works"><font color="#003366">RESEARCH WORKS</font></a> or my list of <a href="/projects#projects"><font color="#003366">PROJECTS</font></a>.
