<center>
<h5>
<p>I am mainly interested in bioinformatics and (supervised, sequential) machine learning, and how to apply tractable and understandable methods to extract higher-order, causal, information from biological data.</p>
<p>My research journey led me to consider several aspects of drug development and repurposing, and got me acclimated to working in an interdisciplinary environment. </p>
</h5></center>

Check out my <a href="/publications"><font color="#1a222c">PUBLICATIONS</font></a> or my list of <a href="/projects"><font color="#1a222c">PROJECTS</font></a>.