<center>
<p>I am mainly interested in bioinformatics and (supervised, sequential) machine learning, and how to apply tractable and understandable methods to extract higher-order, causal, information from biological data.</p>
<p>My research journey led me to consider several aspects of drug development and repurposing, and got me acclimated to working in an interdisciplinary environment. Here are three of my proudest works:</p>
</center>

<div class="user">

  <div class="tech">
    <h2><font color="#003366">Prioritization of Master Regulators</font></h2>
          <img src="/assets/prioritization.png" width="200" height="100"></img>
    <p>I have designed an approach which incorporates regulatory cascades and disease-specific transcriptomic information to detect <b>master regulators</b>, which can be targeted to treat a disease</p>
  </div>

  <div class="tech">
    <h2><font color="#003366">Bandits for Drug Repurposing</font></h2>
          <img src="/assets/repurposing.png" width="200" height="100"></img>
    <p>Drug repurposing can be seen as a Top-<i>m</i> identification problem in bandits. One challenge is to <b>exploit side information about the drugs</b> to decrease the number of tests</p>
  </div>

  <div class="tech">
    <h2><font color="#003366">Epigenetics in networks</font></h2>
          <img src="/assets/epigenetics.png" width="200" height="100"></img>
    <p>Non-coding elements in a gene regulatory network structure and constraint its dynamics, <b>enhancing our understanding of regulatory mechanisms</b></p>
  </div>

</div>

For more information, feel free to check out my <a href="/research#research-works"><font color="#003366">RESEARCH WORKS</font></a> or my list of <a href="/projects#projects"><font color="#003366">PROJECTS</font></a>.