<p><h3><b>Projects:</b></h3></p>

<p><h4><i>Bioinformatics:</i></h4></p>
<div class="articles">
<li>Project designed during my internship at the <b>CBIB</b> in Bordeaux, France (in Python):</li>
<i>(Analysis of phylogenetic trees for medical purposes)</i>
<a href="https://github.com/cbib/taxotree"><font color="#5c5c3d">TaxoTree</font></a>, <a href="https://github.com/kuredatan/taxoclassifier"><font color="#5c5c3d">TaxoClassifier</font></a>, <a href="https://github.com/kuredatan/taxocluster"><font color="#5c5c3d">TaxoCluster</font></a>
<li>Projects coded during my internship at the <b>OIST</b> in Okinawa, Japan (in R):</li>
<i>(Analysis of single-cell RNA data)</i>
<a href="https://github.com/clreda/sc-explorer"><font color="#5c5c3d">Single-Cell Explorer</font></a>, <a href="https://github.com/clreda/mineclusters"><font color="#5c5c3d">MineClusters</font></a>
<li>Projects coded during my internship at the <b>MIM UW</b> in Warsaw, Poland (in Python/R):</li>
<i>(Modelling and inference of Boolean networks and patterning processes)</i>
<a href="https://github.com/regulomics/expansion-network"><font color="#5c5c3d">Expansion Network</font></a>, <a href="https://github.com/clreda/patterning-scenario"><font color="#5c5c3d">Patterning Scenario</font></a>
<br></br>
<h5><i>(well, never have I been good at naming things)</i></h5>
</div>

<p><h4><i>Miscellaneous:</i></h4></p>
<div class="articles">
<li><a href="https://gitlab.pimeys.fr/Chopopope/BucolicWarsDefense/"><font color="#5c5c3d">Bucolic Wars Defense</font></a>: A Tower Defense game created with M. Pommeret and J.-G. Béchard (in Scala).</li>
<li><a href="https://github.com/BisounoursArcEnCiel/Serendipity"><font color="#5c5c3d">Serendipity</font></a>: A recommender system favoring serendipity with L. Prosperi (in C++). <i>[Unfortunately suspended][<b>Update:</b> you can see its baby sister at this <a href="https://github.com/kuredatan/projet-gml"><font color="#5c5c3d">repo</font></a>]</i></li>
</div>

<p><h4><i>Articles & Blogs:</i></h4></p>
<div class="articles">
<li>A blog about science, politics, and stuff: <a href="http://reflechir.fr/"><font color="#5c5c3d">Réfléchir</font></a> with C. Lemarié-Rieusset <i>[In French]</i>.</li>

<li><a href="http://binaire.blog.lemonde.fr/2016/10/17/a-p-b-la-vie-apres-le-bac/"><font color="#5c5c3d">Binaire</font></a> (blog of the French newspaper <b>Le Monde</b>) and <a href="https://theconversation.com/a-p-b-la-vie-apres-le-bac-66848"><font color="#5c5c3d">The Conversation</font></a> with S. Abiteboul <i>[In French]</i>.</li>

<li>Some articles about algorithmics on <a href="http://tryalgo.org/"><font color="#5c5c3d">TryAlgo</font></a> (run by C. Dürr and J.-J. Vie) <i>[In French]</i>.</li>
</div>
