<p><h3><b>Research:</b></h3></p>
<div class="articles">
<li><u>C. Réda</u>, A. Tirinzoni, and R. Degenne. <b>Dealing With Misspecification In Fixed-Confidence Linear Top-m Identification</b></li>
<i>In</i> Proceedings of the 35th Conference on Neural Information Processing Systems, 2021 (<a href="https://hal.archives-ouvertes.fr/hal-03409205"><font color="#5c5c3d">HAL-03409205</font></a>).
<li><u>C. Réda</u>, E. Kaufmann, and A. Delahaye-Duriez. <b>Top-m identification for linear bandits</b></li>
<i>In</i> Proceedings of the 24th International Conference on Artificial Intelligence and Statistics, 2021 (<a href="http://proceedings.mlr.press/v130/reda21a.html"><font color="#5c5c3d">HAL-03172145</font></a>).
<li><u>C. Réda</u>, E. Kaufmann, and A. Delahaye-Duriez. <b>Machine learning applications in drug development</b></li>
<i>In</i> Computational and Structural Biotechnology Journal, 2019 (doi: <a href="https://doi.org/10.1016/j.csbj.2019.12.006"><font color="#5c5c3d">10.1016/j.csbj.2019.12.006</font></a>).
<li><u>C. Réda</u> and B. Wilczyński. <b>Automated Inference of Gene Regulatory Networks Using Explicit Regulatory Modules</b></li>
<i>In</i> Journal of Theoretical Biology, 2019 (doi: <a href="https://doi.org/10.1016/j.jtbi.2019.110091"><font color="#5c5c3d">10.1016/j.jtbi.2019.110091</font></a>). In accordance with Elsevier's <a href="https://www.elsevier.com/about/policies/sharing"><font color="#5c5c3d">sharing policy</font></a>: <a href="{{ site.baseurl }}/assets/reda2019automated_accepted.pdf" style="color: #5c5c3d">accepted manuscript</a>.
<li>A. Delahaye-Duriez, <u>C. Réda</u> and P. Gressens. <b>Identification de cibles thérapeutiques et repositionnement de médicaments par analyses de réseaux géniques</b></li>
<i>In</i> médecine/sciences, 2019 (<a href="https://www.medecinesciences.org/en/articles/medsci/full_html/2019/07/msc190127/msc190127.html"><font color="#5c5c3d">full text</font></a>).
</div>

<p><h4><i>Talks:</i></h4></p>
<div class="talks">
<li><u>C. Réda</u>, A. Delahaye-Duriez. <b>Gene network oriented drug discovery: automated inference of Boolean networks for drug target prediction</b> </li>
<i>In</i> DSABNS'22 (talk: <a href="https://sites.google.com/view/dsabns2022/scientific-programme/book-of-abstracts"><font color="#5c5c3d">(abstract, page 245)</font></a>).
<li><u>C. Réda</u>, A. Tirinzoni, and R. Degenne. <b>Dealing With Misspecification In Fixed-Confidence Linear Top-m Identification</b></li>
<i>In</i> <a href="https://neurips2021paris.github.io/"><font color="#5c5c3d">NeurIPS@Paris '21</font></a> (talk).
<li><u>C. Réda</u>, A. Tirinzoni, and R. Degenne. <b>Dealing With Misspecification In Fixed-Confidence Linear Top-m Identification</b></li>
<i>In</i> NeurIPS'21 (poster).
<li><u>C. Réda</u>, E. Kaufmann, and A. Delahaye-Duriez. <b>Top-m identification for linear bandits</b></li>
<i>In</i> AISTATS'21 (poster).
<li><u>C. Réda</u> and B. Wilczyński. <b>Automated Inference of Gene Regulatory Networks Using Explicit Regulatory Modules</b></li>
<i>In</i> BIT'18: <a href="http://fizyka.umk.pl/~bit/BIT18/boa.pdf"><font color="#5c5c3d">(abstract, page 5)</font></a> <i>, in</i> workshop 6 of ECCB'18: <a href="http://eccb18.org/wp-content/uploads/2018/09/ECCB_2018_W6_abstract_booklet.pdf"><font color="#5c5c3d">(abstract, page 15)</font></a>, and <i>in</i> JOBIM'21: <a href="https://relaiswebcasting.mediasite.com/Mediasite/Catalog/Mobile/FolderPresentation/e534823f-0c95-4836-bf85-bfa80af22909/e60de102-23a5-4e78-b65e-1f5c9acff29f/d545b26742db4a4bbdc34f467f5128391d/"><font color="#5c5c3d">(video)</font></a>.
</div>

